body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:hsl(295, 64%, 53%);
    font-family: Oswald,Dosis, sans-serif ;
}

.container{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    width: 60vh;
    padding: 20px 30px;
    background-color: hsl(0, 5%, 84%);
    border-radius: 10px;
    box-shadow: 10px 10px 40px hsl(0, 1%, 20%);
}

p{
    text-align: center;
}
#emoji{
    font-size: 100px;
}

#btn{
    /* margin-bottom: -50px; */
    border: none;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    text-align: center;
    font-size: 20px;
    color: hsl(295, 49%, 70%);
    background-color: hsl(0, 1%, 20%);
    padding-bottom: 0.4rem;
}

#genJoke:hover{
    background-color: hsl(0, 2%, 25%);
}